<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="urn:packages">
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" xmlns="" />
  <package id="NServiceBus" version="4.6.5" targetFramework="net45" xmlns="" />
  <package id="NServiceBus.Interfaces" version="4.6.5" targetFramework="net45" xmlns="" />
</packages>